#bookModal.modal{ "ui-modal" => true, class: "fade", "ng-model" => "modals.book" }
  %div{ 'ng-include' => 'modals.includes.books', 'onload' => 'clearBooks()' }
#mapModal.modal{ "ui-modal" => true, class: "fade", "ng-model" => "modals.map" }
  %div{ 'ng-include' => 'modals.includes.maps', 'onload' => 'clearMap()' }
#registrationModal.modal{ "ui-modal" => true, class: "fade", "ng-model" => "modals.registrations" }
  %div{ 'ng-include' => 'modals.includes.registrations' }

