.route{ 'ng-show' => 'route' }      
  .stops{ 'ng-hide' => 'stops' }
    = image_tag '/assets/ajax-loader.gif'
    Loading stops, please wait.
  .stops{ 'ng-show' => 'stops' }
    = partial 'stops_select'
  
