.stop.alert.alert-block.padded{ 'ng-click' => 'dialectic.details = !dialectic.details' }
  .wrapper
    %strong {{dialectic.title}} 
    %span.route{ 'ng-show' => 'dialectic.route' }
      == (on route #{link_to "{{dialectic.route.route_description}} {{dialectic.route.direction_description}}", "/locations/{{dialectic.route.location_id}}/{{dialectic.route.id}}"})
    .expand
      %small 
        %span{ 'ng-show' => 'dialectic.favorited_count > 1' }
          Favorited by {{dialectic.favorited_count-1}} other(s).
        Click for more details
.details.alert.alert-block{ 'ng-show' => 'dialectic.details' }
  .description{ 'ng-bind-html' => 'mkdwn(dialectic.description) || "No dialectic description available"' }
  .days{ 'ng-show' => 'days' }
    Offered on 
    %span.badge.day{ 'ng-repeat' => 'day in dialectic.days' }{{day}}
  .times{ 'ng-show' => 'times' }
    Offered potentially at 
    %span.time{ 'ng-repeat' => 'time in dialectic.times' }
      %span.badge {{time}}

  .hidden.desktop_map.hidden-phone{ "ui-map" => "myMap", "ui-event" => "{'map-click': 'addMarker($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }", "ui-options" => "mapOptions" }
  .hidden.phone_map.visible-phone{ "ui-map" => "myMap", "ui-event" => "{'map-click': 'addMarker($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }", "ui-options" => "mapOptions" }

  .message.alert.alert-success{ 'ng-show' => 'dialectic.message' }
    {{dialectic.message}}
  .prereqs{ 'ng-show' => 'dialectic.prerequisites' }
    .muted Please note these prerequisites for this class:
    .prereq{ 'ng-repeat' => 'prereq in dialectic.prerequisites' }
      {{ prereq.comment }} / {{ prereq.ptype}}

  .btn{ 'ng-click' => 'register(dialectic)' }
    Register
  .btn{ 'ng-click' => 'save(dialectic)' } 
    .visible-phone{ 'ng-class' => '{"icon-star-empty":!dialectic.saved,"icon-star":dialectic.saved}' } &nbsp;
    .hidden-phone
      %span{ 'ng-hide' => 'dialectic.saved' } Save
      %span{ 'ng-show' => 'dialectic.saved' } Remove

  .btn{ 'ng-click' => 'faq()' } 
    .visible-phone.icon-question-sign &nbsp;
    .hidden-phone What/why/how register?

  .hideIt.btn.btn-danger{ 'ng-click' => 'dialectic.details = false' } 
    .visible-phone.icon-remove-sign &nbsp;
    .hidden-phone Close

