.wrapper.login
  %h1 You must login before registering.

  %h3 Please login with either your Facebook account or Google account.
  
  .facebook.provider
    %a.btn.btn-large{ href: '/users/auth/facebook' } Facebook
  .google.provider
    %a.btn.btn-large{ href: '/users/auth/facebook' } Google
