.favorites{ 'ng-controller' => 'FavoriteCtrl' }
  %h3 My favorites
  .none{ 'ng-hide' => 'favorites' }
    You have not favorited any items.

  .favorite{ 'ng-repeat' => 'favorite in favorites', 'ng-show' => 'favorites' }
    .foo{ 'ng-class' => 'dialectic = favorite.dialectic' }
    = render partial: 'dialectics/dialectic'
