!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Thanks for registering #{@user.name} for "#{@dialectic.title}"
    %p
      We've notified your instructor and will let you know when they respond.
