<div class='fade modal' id='bookModal' ng-model='modals.book' ui-modal='ui-modal'>
  <div ng-include='modals.includes.book' onload='clearBooks()'></div>
</div>
<div class='fade modal' id='mapModal' ng-model='modals.map' ui-modal='ui-modal'>
  <div ng-include='modals.includes.map' onload='clearMap()'></div>
</div>
<div class='fade modal' id='registrationModal' ng-model='modals.registration' ui-modal='ui-modal'>
  <div ng-include='modals.includes.registration'></div>
</div>
<div class='fade modal' id='loginModal' ng-model='modals.login' ui-modal='ui-modal'>
  <div ng-include='modals.includes.login'></div>
</div>
