.route{ 'ng-show' => 'location' }      
  .routes{ 'ng-hide' => 'routes' }
    = image_tag 'spinner.gif'
    Loading routes, please wait.
  .routes{ 'ng-show' => 'routes' }
    .choice-selection
      %strong Choose a route
    .choice
      %select{ 'ng-options' => 'r.route_description + " (" + r.direction_description + ")" for r in routes | orderBy:["route_number","route_description"]', 'ng-model' => 'route', 'ng-change' => "loadStops(route)" }
