.row{ 'ng-app' => 'movingteachings', 'ng-controller' => "Main" }
  .eight.mobile-four.columns.centered
    %h2 Moving Teachings
    %h4.subheader Connect with people. Learn things. Listen. Teach.
    .row
      .ng-view

