.row-fluid
  .span12
    %h2 Moving Teachings
    %h4.subheader Connect with people. Learn things. Listen. Teach.
    %ul.breadcrumb
      %li{'ng-repeat' => 'bc in breadcrumbs' }
        %span.divider{ 'ng-show' => '$index != 0' } /
        {{bc}}
    .ng-view

