%h4 It's completely anonymous and fun.

.btn{ 'ng-click' => 'loadSampleDialectics()' } Browse sample classes

.nothing{ 'ng-show' => 'samplesLoaded && !samples' } No dialectics found. Please try again later.

.dialectics{ 'ng-show' => 'samples', 'ng-controller' => 'DialecticCtrl' }
  .wrapper{ 'ng-repeat' => 'dialectic in samples' }
    %div{ 'ng-include' => '"/tmpl/dialectics/dialectic"' }
  %div{ 'ng-include' => '"/tmpl/modals/modals"' }
