.stop.alert.alert-block.padded{ 'ng-click' => 'dialectic.details = !dialectic.details' }
  .wrapper
    %strong {{dialectic.title}} 
    %span.route 
      == (on route #{link_to "{{dialectic.route.route_description}} {{dialectic.route.direction_description}}", "/locations/{{dialectic.route.location_id}}/{{dialectic.route.id}}"})
    .expand
      %small Click for more details
.details.alert.alert-block{ 'ng-show' => 'dialectic.details' }
  .description{ 'ng-bind-html' => 'mkdwn(dialectic.description) || "No dialectic description available"' }
  .btn{ 'ng-click' => 'register(dialectic)' }
    Register
  .btn{ 'ng-click' => 'save(dialectic)' } 
    .visible-phone{ 'ng-class' => '{"icon-star-empty":!dialectic.saved,"icon-star":dialectic.saved}' } &nbsp;
    .hidden-phone
      %span{ 'ng-hide' => 'dialectic.saved' } Save
      %span{ 'ng-show' => 'dialectic.saved' } Remove
  .hideIt.btn.btn-danger{ 'ng-click' => 'dialectic.details = false' } 
    .visible-phone.icon-remove-sign &nbsp;
    .hidden-phone Close

