.stop.alert.alert-block.padded{ 'ng-click' => 'dialectic.details = !dialectic.details' }
  {{dialectic.title}} 
  %span.route (on {{dialectic.route.route_description}} {{dialectic.route.direction_description}})
.details{ 'ng-show' => 'dialectic.details' }
  .description{ 'ng-bind-html' => 'mkdwn(dialectic.description) || "No dialectic description available"' }
  .btn{ 'ng-click' => 'register(dialectic)' } Sign up for this dialectic.
  .btn{ 'ng-click' => 'save(dialectic)' } Save to my favorites.
  .btn.btn-danger.btn-mini{ 'ng-click' => 'dialectic.details = false' } Close

