.route{ 'ng-show' => 'location' }      
  .row-fluid{ 'ng-hide' => 'routes' }
    .span12
      = image_tag 'spinner.gif'
      Loading routes, please wait.
  .row-fluid{ 'ng-show' => 'routes' }
    .span2
      %strong Choose a route
    .span2
      %select{ 'ng-options' => 'r.route_description + " (" + r.direction_description + ")" for r in routes | orderBy:["route_number","route_description"]', 'ng-model' => 'route', 'ng-change' => "#{loadMethod}(route)" }
