.routes{ 'ng-controller' => 'RouteCtrl' }
  .span12

    .city
      Choose a city:
      %select{ 'ng-options' => 'c.name for c in locations', 'ng-model' => 'city', 'ng-change' => 'loadRoutes(city)' }

    .route{ 'ng-show' => 'city' }      
      Choose a route
      %select{ 'ng-options' => 'r.route_description + " (" + r.direction_description + ")" for r in routes | orderBy:["route_number","route_description"]', 'ng-model' => 'route', 'ng-change' => 'loadStops(route)' }
  
      %div{ 'ng-show' => 'route' }
        .dialectics{ 'ng-show' => 'dialectics', 'ng-class' => 'DialecticCtrl' }
          %h4 Classes on this route
          %span.visible-phone Share
          %span.hidden-phone Share classes on this route
          .btn{ 'ng-click' => 'shareRoute("facebook")' }
            = image_tag 'facebook.png'
          .btn{ 'ng-click' => 'shareRoute("twitter")' }
            = image_tag 'twitter.png'
          .wrapper{ 'ng-repeat' => 'dialectic in dialectics' }
            = render partial: 'dialectics/dialectic'
        .nodialectics{ 'ng-hide' => 'dialectics' }
          .none There are no classes offered on this route. 
          Why not take different path sometime? Here are other classes offered on other routes.        
  
          .spinner{ 'ng-hide' => 'alternatives' }
            %img{ src: '/assets/spinner.gif' }  
            Please wait, loading alternative classes.
          .wrapper{ 'ng-repeat' => 'dialectic in alternatives' }
            = render partial: 'dialectics/dialectic'
  
