.routes{ 'ng-controller' => 'RouteCtrl' }
  .span12
    Do you want to expand your understanding of the world?
    Do you want to believe most people are good and want the same things in life?
    .button.small Browse classes
    %h4 You live in Portland, OR.
    Choose a route
    %select{ 'ng-options' => 'r.route_description + " (" + r.direction_description + ")" for r in routes | orderBy:["route_number","route_description"]', 'ng-model' => 'route', 'ng-change' => 'loadStops(route)' }

    %div{ 'ng-show' => 'route' }
      .dialectics{ 'ng-show' => 'dialectics', 'ng-class' => 'DialecticCtrl' }
        %h4 Classes on this route
        .wrapper{ 'ng-repeat' => 'dialectic in dialectics' }
          = render partial: 'dialectics/dialectic'
      .nodialectics{ 'ng-hide' => 'dialectics' }
        .none There are no classes offered on this route. 
        Why not take different path sometime? Here are other classes offered on other routes.        

        .spinner{ 'ng-hide' => 'alternatives' }
          %img{ src: '/assets/spinner.gif' }  
          Please wait, loading alternative classes.
        .wrapper{ 'ng-repeat' => 'dialectic in alternatives' }
          = render partial: 'dialectics/dialectic'

