.routes{ 'ng-controller' => 'RouteCtrl' }
  .span12
    Do you want to expand your understanding of the world?
    Do you want to believe most people are good and want the same things in life?
    .button.small Browse classes
    %h4 You live in Portland, OR.
    Choose a route
    %select{ 'ng-options' => 'r.route_description + " (" + r.direction_description + ")" for r in routes', 'ng-model' => 'route', 'ng-change' => 'loadStops(route)' }

    %div{ 'ng-show' => 'route' }
      .dialectics{ 'ng-show' => 'dialectics' }
        %h4 Classes on this route
        .wrapper{ 'ng-repeat' => 'c in dialectics' }
          .stop.label.label-info.padded{ 'ng-click' => 'dialectic = c' }{{c.name}}
      .nodialectics{ 'ng-hide' => 'dialectics' }
        There are no classes on this route. 
        Here are some classes on other routes. Click to expand and see details.

        .spinner{ 'ng-hide' => 'alternatives' }
          %img{ src: '/assets/spinner.gif' }  
          Please wait, loading alternative classes.
        .wrapper{ 'ng-repeat' => 'dialectic in alternatives' }
          = render partial: 'dialectics/dialectic'

