.dialectics{ 'ng-controller' => 'RouteCtrl' }
  Do you have an idea for a tiny class you could teach on a bus?
  Do you want to connect with people riding with you?
  .btn.small{ 'ng-click' => 'doCreate = true' } Offer a class
  .btn.small{ 'ng-click' => 'loadDialectics()' } See my offered classes

  .create{ 'ng-show' => 'doCreate', 'ng-controller' => 'DialecticCtrl' }
    %form{ 'ng-hide' => 'created' }
      %legend Create a class
      .alert.alert-error{ 'ng-show' => 'errors' } {{errors}}
      %label Title
      %input{ 'ng-model' => 'dialectic.title', type: 'text', required: true }
      %label Description
      %textarea{ 'ng-model' => 'dialectic.description', type: 'text', required: true }
      .small
        %a{ 'ng-click' => 'useTemplate()' } Use template
        == | Fancy formatting using 
        %a{ href: 'http://daringfireball.net/projects/markdown/', target: "_new" } Markdown 

      %label Where do you want to teach this class
      = render partial: 'dialectics/city_and_route'     

      .hide
        %label Maximum participants?
        %select{ 'ng-options' => 'c for c in maxOptions', "ng-model" => "dialectic.maximum" }
          %option{ val: '' } No maximum
  
        %label Minimum participants?
        %select{ 'ng-options' => 'c for c in minOptions', "ng-model" => "dialectic.minimum" }
          %option{ val: '' } No minimum
  
      .after_route{ 'ng-show' => 'route' }
        %label (optional) What days do you want to offer the class?
        .btn-group
          %span.btn{ 'ng-repeat' => 'd in days', 'ng-class' => '{ "btn-inverse": d.selected }', 'ng-click' => 'd.selected = !d.selected' }{{d.name}}
  
        %label (optional) What time slots are you willing to offer your class?
        %select{ 'ng-options' => 'c for c in times', "ng-model" => "dialectic.times", multiple: true }

        .prerequisites.visible-phone
          If you edit this on a desktop computer you can edit prerequisites, like books to read in advance, links to check out, or even locations to visit.
        .prerequisites.hidden-phone
          %label (optional) Add a prerequisite (book, link, location to visit)?
          %input{ type: 'checkbox', 'ng-model' => 'prerequisite' } Add prerequisites
          .prerequisites{ 'ng-show' => 'prerequisite' }
            .btn{ 'ng-click' => 'adding = true' } Add prerequisite
            .adding{ 'ng-show' => 'adding' }
              %select{ 'ng-options' => 'c for c in prereq_types', 'ng-model' => 'prereq.type' }
  
              .btn{ 'ng-click' => 'mapModal = true' } Show the modal.
  
              .places{ "ui-modal" => true, class: "fade", "ng-model" => "mapModal", id: "myModal" } 
                .desktop_map{ "ui-map" => "myMap", "ui-event" => "{'map-click': 'addMarker($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }", "ui-options" => "mapOptions" }
  
              .btn{ 'ng-click' => 'addPrequisite()' }
    
      %br
      .btn{ 'ng-click' => 'create()' } Create this class
    %div{ 'ng-show' => 'created' }
      {{message}}

  
  .dialectics{ 'ng-show' => 'dialectics' }
    %h3 My classes:
    .wrapper{ 'ng-repeat' => 'dialectic in dialectics' }
      = render partial: "dialectics/dialectic"
  
