.routes, .dialectics
 {
  .wrapper {
      padding: 5px;
  }
}

.login {
    display: inline-block;
}

.details {
    position: relative;
    top: -15px;
    .hideIt {
        float: right;
    }
}

.seo {
display: none;
}

.identity {
    display: inline-block;
    float: right;
}


