body {
    background-color: grey;
}

.movingteachings {
    background-color: white;
}

.routes, .dialectics
 {
  .wrapper {
      padding: 5px;
  }
}

.login {
    display: inline-block;
}

.details {
    .hideIt {
        float: right;
    }
}

.seo {
display: none;
}

.identity {
    display: inline-block;
    float: right;
}


.routes {
    .stop {
        .route {
            $base : lighten( #1b8f9a, 17% );
            background-color: $base;
            padding: 3px;
            a { 
                color: complement( $base );
            }
        }
    }
}