body {
    background-color: grey;
}

.movingteachings {
    background-color: white;
}

.routes, .dialectics
 {
  .wrapper {
      padding: 5px;
  }
}

.login {
    display: inline-block;
}

.details {
    .hideIt {
        float: right;
    }
}

.seo {
display: none;
}

.identity {
    display: inline-block;
    float: right;
}

.routes {
    .stop {
        .route {
            background-color: darken( #D47500, 20% );
            color: reverse( darken( #D47500, 20% ) );
        }
    }
}