<h1>Find a class.</h1>
<div class='routes' ng-controller='RouteCtrl'>
  <div class='city'>
    <div class='choice-selection'>
      <strong>Choose a city:</strong>
    </div>
    <div class='choice'>
      <select ng-change='loadRoutes(location)' ng-model='location' ng-options='l.name for l in locations'></select>
    </div>
  </div>
  <div class='route' ng-show='location'>
    <div class='routes' ng-hide='routes'>
      <img src="/assets/spinner.gif" />
      Loading routes, please wait.
    </div>
    <div class='routes' ng-show='routes'>
      <div class='choice-selection'>
        <strong>Choose a route</strong>
      </div>
      <div class='choice'>
        <select ng-change='loadClasses(route)' ng-model='route' ng-options='r.route_description + " (" + r.direction_description + ")" for r in routes | orderBy:["route_number","route_description"]'></select>
      </div>
    </div>
  </div>
  <div class='dialecic' ng-controller='DialecticCtrl' ng-show='route'>
    <div class='dialectics' ng-show='dialectics'>
      <h3>Classes on {{route.route_description}}</h3>
      <div class='btn' ng-click='shareRoute("facebook")'>
        <span class='visible-phone'>Share</span>
        <span class='hidden-phone'>Share this route on Facebook</span>
        <img src="/assets/facebook.png" />
      </div>
      <div class='btn' ng-click='shareRoute("twitter")'>
        <span class='visible-phone'>Share</span>
        <span class='hidden-phone'>Share this route on Twitter</span>
        <img src="/assets/twitter.png" />
      </div>
      <div class='wrapper' ng-repeat='dialectic in dialectics'>
        <div ng-include='"/tmpl/dialectics/dialectic"'></div>
      </div>
    </div>
    <div class='nodialectics' ng-hide='dialectics'>
      <h3>There are no classes offered on the route: {{route.route_description}}</h3>
      <h5>"Not all those who wander are lost." Why not take a different path sometime? Here are some classes offered on other routes.</h5>
      <div class='noalternatives' ng-show='noAlternatives'>
        Sorry, there are no courses offered in your city right now.
      </div>
      <div class='alternatives' ng-hide='noAlternatives'>
        <div class='spinner' ng-hide='alternatives'>
          <img src='/assets/spinner.gif' />
          Please wait, loading alternative classes.
        </div>
        <div class='wrapper' ng-repeat='dialectic in alternatives'>
          <div ng-include='/tmpl/dialectics/dialectic'></div>
        </div>
      </div>
    </div>
  </div>
</div>
