<!-- meta property="og:image" content="http://movingteachings.com"/ -->
<meta property="og:title" content="Moving Teachings: Connect, expand and learn. On the bus."/>
<meta property="og:url" content="http://movingteachings.com"/>
<meta property="og:site_name" content="MovingTeachings.com"/>
<meta property="og:type" content=""/>
